body 
{
    background-color: rgb(247, 247, 218);
    font-family: sans-serif;
}

h1 
{
    font-weight: normal;
    font-size: 140%;
}

#wrapper
{
    border: 1px solid transparent;
}

#blocklyDiv 
{
    display: inline-block;
    height: 600px;
    width:  800px;
}

#codeDiv 
{
    vertical-align: top;
    display: inline-block;
    overflow: auto;
    height: 600px;
    width:  400px;
    font-size: 125%;
}

#btnList
{
    width: 800px;
}

.tooltip 
{
    position: relative;
    z-index: 20;
}

.tooltip span 
{
    display: none;
}

.tooltip:hover
{
    z-index: 21;
}

.tooltip:hover span
{
    display: block;
    width: 100px;
    padding: 5px;
    color: #FFF;
    background: #535665;
    font-size: 11px;
    text-decoration: none;
    position: absolute;
    border-radius: 6px;
    top: -10px;
    left: 5px;
    text-align: center;
}

.tooltipNL 
{
    position: relative;
    z-index: 20;
}

.tooltipNL span 
{
    display: none;
}

.tooltipNL:hover
{
    z-index: 21;
}

.tooltipNL:hover span
{
    display: block;
    width: 100px;
    padding: 5px;
    color: #FFF;
    background: #535665;
    font-size: 11px;
    text-decoration: none;
    position: absolute;
    border-radius: 6px;
    top: -10px;
    left: -65px;
    text-align: center;
}

#newBtn
{
    float: left;
    background-color: coral;
    border: w3-border w3-border-black;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px black;
    font-size: 30px;
}

#newBtn:hover
{
    background-color: orangered;
    color: white;
}


#loadBtn
{
    float: left;
    background-color: coral;
    border: w3-border w3-border-black;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px black;
    font-size: 30px;
}

#loadBtn:hover
{
    background-color: orangered;
    color: white;
}

#saveBtn
{
    float: left;
    background-color: coral;
    border: w3-border w3-border-black;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px black;
    font-size: 30px;
}

#saveBtn:hover
{
    background-color: orangered;
    color: white;
}

#envBtn
{
    float: right;
    background-color: coral;
    border: w3-border w3-border-black;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px black;
    font-size: 30px;
}

#envBtn:hover
{
    background-color: orangered;
    color: white;
}

/* Blockly Stylesheet. Each :X means the Xth category from up to bottom */

.blocklyTreeRow:not(.blocklyTreeSelected):hover
{
    background-color: transparent;
}

#\:1
{
    background-color: green;
    color: white;
    text-shadow: 2px 2px black;
    padding: 2px;
}

#\:1:hover
{
    background-color: rgb(14, 65, 14);
    color: white;
}

#\:2
{
    background-color: seagreen;
    color: white;
    text-shadow: 2px 2px black;
    padding: 2px;
}

#\:2:hover
{
    background-color: rgb(13, 83, 44);
    color: white;
}

#\:3 /*separator*/
{
    background-color: rgb(47,47,47);
    padding: 4px;
}

#\:4
{
    background-color: brown;
    color: white;
    text-shadow: 2px 2px black;
    padding: 2px;
}

#\:4:hover
{
    background-color: rgb(90, 12, 12);
    color: white;
}

#\:5
{
    background-color: rgb(165, 128, 91);
    color: white;
    text-shadow: 2px 2px black;
    padding: 2px;
}

#\:5:hover
{
    background-color: rgb(131, 87, 42);
    color: white;
}

#\:6
{
    background-color: teal;
    color: white;
    text-shadow: 2px 2px black;
    padding: 2px;
}

#\:6:hover
{
    background-color: rgb(13, 87, 87);
    color: white;
}

#\:7
{
    background-color: goldenrod;
    color: white;
    text-shadow: 2px 2px black;
    padding: 2px;
}

#\:7:hover
{
    background-color: rgb(145, 108, 16);
    color: white;
}

#\:8
{
    background-color: seagreen;
    color: white;
    text-shadow: 2px 2px black;
    padding: 2px;
}

#\:8:hover
{
    background-color: rgb(13, 83, 44);
    color: white;
}

.blocklyToolboxDiv
{
    background-color: #474747;
    overflow-x: visible;
    overflow-y: auto;
    position: absolute;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    z-index: 70; /* so blocks go under toolbox when dragging */
    -webkit-tap-highlight-color: transparent; /* issue #1345 */
}